## Importing CSV files

In [1]:
with open('titanic.csv') as f:   # reading from a .csv
    text = f.readlines()

In [2]:
text

['survived,pclass,sex,age,sibsp,parch,fare,embarked,deck\n',
 '0,3,male,22.0,1,0,7.25,S,\n',
 '1,1,female,38.0,1,0,71.2833,C,C\n',
 '1,3,female,26.0,0,0,7.925,S,\n',
 '1,1,female,35.0,1,0,53.1,S,C\n',
 '0,3,male,35.0,0,0,8.05,S,\n',
 '0,3,male,,0,0,8.4583,Q,\n',
 '0,1,male,54.0,0,0,51.8625,S,E\n',
 '0,3,male,2.0,3,1,21.075,S,\n',
 '1,3,female,27.0,0,2,11.1333,S,\n',
 '1,2,female,14.0,1,0,30.0708,C,\n',
 '1,3,female,4.0,1,1,16.7,S,G\n',
 '1,1,female,58.0,0,0,26.55,S,C\n',
 '0,3,male,20.0,0,0,8.05,S,\n',
 '0,3,male,39.0,1,5,31.275,S,\n',
 '0,3,female,14.0,0,0,7.8542,S,\n',
 '1,2,female,55.0,0,0,16.0,S,\n',
 '0,3,male,2.0,4,1,29.125,Q,\n',
 '1,2,male,,0,0,13.0,S,\n',
 '0,3,female,31.0,1,0,18.0,S,\n',
 '1,3,female,,0,0,7.225,C,\n',
 '0,2,male,35.0,0,0,26.0,S,\n',
 '1,2,male,34.0,0,0,13.0,S,D\n',
 '1,3,female,15.0,0,0,8.0292,Q,\n',
 '1,1,male,28.0,0,0,35.5,S,A\n',
 '0,3,female,8.0,3,1,21.075,S,\n',
 '1,3,female,38.0,1,5,31.3875,S,\n',
 '0,3,male,,0,0,7.225,C,\n',
 '0,1,male,19.0,3,2,263.0,S,C\n',
 '1,3,female,,0,0,7.8792,Q,\n',
 '0,3,male,,0,0,7.8958,S,\n',
 '0,1,male,40.0,0,0,27.7208,C,\n',
 '1,1,female,,1,0,146.5208,C,B\n',
 '1,3,female,,0,0,7.75,Q,\n',
 '0,2,male,66.0,0,0,10.5,S,\n',
 '0,1,male,28.0,1,0,82.1708,C,\n',
 '0,1,male,42.0,1,0,52.0,S,\n',
 '1,3,male,,0,0,7.2292,C,\n',
 '0,3,male,21.0,0,0,8.05,S,\n',
 '0,3,female,18.0,2,0,18.0,S,\n',
 '1,3,female,14.0,1,0,11.2417,C,\n',
 '0,3,female,40.0,1,0,9.475,S,\n',
 '0,2,female,27.0,1,0,21.0,S,\n',
 '0,3,male,,0,0,7.8958,C,\n',
 '1,2,female,3.0,1,2,41.5792,C,\n',
 '1,3,female,19.0,0,0,7.8792,Q,\n',
 '0,3,male,,0,0,8.05,S,\n',
 '0,3,male,,1,0,15.5,Q,\n',
 '1,3,female,,0,0,7.75,Q,\n',
 '0,3,male,,2,0,21.6792,C,\n',
 '0,3,female,18.0,1,0,17.8,S,\n',
 '0,3,male,7.0,4,1,39.6875,S,\n',
 '0,3,male,21.0,0,0,7.8,S,\n',
 '1,1,female,49.0,1,0,76.7292,C,D\n',
 '1,2,female,29.0,1,0,26.0,S,\n',
 '0,1,male,65.0,0,1,61.9792,C,B\n',
 '1,1,male,,0,0,35.5,S,C\n',
 '1,2,female,21.0,0,0,10.5,S,\n',
 '0,3,male,28.5,0,0,7.2292,C,\n',
 '1,2,female,5.0,1,2,27.75,S,\n',
 '0,3,male,11.0,5,2,46.9,S,\n',
 '0,3,male,22.0,0,0,7.2292,C,\n',
 '1,1,female,38.0,0,0,80.0,,B\n',
 '0,1,male,45.0,1,0,83.475,S,C\n',
 '0,3,male,4.0,3,2,27.9,S,\n',
 '0,1,male,,0,0,27.7208,C,\n',
 '1,3,male,,1,1,15.2458,C,\n',
 '1,2,female,29.0,0,0,10.5,S,F\n',
 '0,3,male,19.0,0,0,8.1583,S,\n',
 '1,3,female,17.0,4,2,7.925,S,\n',
 '0,3,male,26.0,2,0,8.6625,S,\n',
 '0,2,male,32.0,0,0,10.5,S,\n',
 '0,3,female,16.0,5,2,46.9,S,\n',
 '0,2,male,21.0,0,0,73.5,S,\n',
 '0,3,male,26.0,1,0,14.4542,C,\n',
 '1,3,male,32.0,0,0,56.4958,S,\n',
 '0,3,male,25.0,0,0,7.65,S,F\n',
 '0,3,male,,0,0,7.8958,S,\n',
 '0,3,male,,0,0,8.05,S,\n',
 '1,2,male,0.83,0,2,29.0,S,\n',
 '1,3,female,30.0,0,0,12.475,S,\n',
 '0,3,male,22.0,0,0,9.0,S,\n',
 '1,3,male,29.0,0,0,9.5,S,\n',
 '1,3,female,,0,0,7.7875,Q,\n',
 '0,1,male,28.0,0,0,47.1,S,\n',
 '1,2,female,17.0,0,0,10.5,S,\n',
 '1,3,female,33.0,3,0,15.85,S,\n',
 '0,3,male,16.0,1,3,34.375,S,\n',
 '0,3,male,,0,0,8.05,S,\n',
 '1,1,female,23.0,3,2,263.0,S,C\n',
 '0,3,male,24.0,0,0,8.05,S,\n',
 '0,3,male,29.0,0,0,8.05,S,\n',
 '0,3,male,20.0,0,0,7.8542,S,\n',
 '0,1,male,46.0,1,0,61.175,S,E\n',
 '0,3,male,26.0,1,2,20.575,S,\n',
 '0,3,male,59.0,0,0,7.25,S,\n',
 '0,3,male,,0,0,8.05,S,\n',
 '0,1,male,71.0,0,0,34.6542,C,A\n',
 '1,1,male,23.0,0,1,63.3583,C,D\n',
 '1,2,female,34.0,0,1,23.0,S,\n',
 '0,2,male,34.0,1,0,26.0,S,\n',
 '0,3,female,28.0,0,0,7.8958,S,\n',
 '0,3,male,,0,0,7.8958,S,\n',
 '0,1,male,21.0,0,1,77.2875,S,D\n',
 '0,3,male,33.0,0,0,8.6542,S,\n',
 '0,3,male,37.0,2,0,7.925,S,\n',
 '0,3,male,28.0,0,0,7.8958,S,\n',
 '1,3,female,21.0,0,0,7.65,S,\n',
 '1,3,male,,0,0,7.775,S,\n',
 '0,3,male,38.0,0,0,7.8958,S,\n',
 '1,3,female,,1,0,24.15,Q,\n',
 '0,1,male,47.0,0,0,52.0,S,C\n',
 '0,3,female,14.5,1,0,14.4542,C,\n',
 '0,3,male,22.0,0,0,8.05,S,\n',
 '0,3,female,20.0,1,0,9.825,S,\n',
 '0,3,female,17.0,0,0,14.4583,C,\n',
 '0,3,male,21.0,0,0,7.925,S,\n',
 '0,3,male,70.5,0,0,7.75,Q,\n',
 '0,2,male,29.0,1,0,21.0,S,\n',
 '0,1,male,24.0,0,1,247.5208,C,B\n',
 '0,3,female,2.0,4,2,31.275,S,\n',
 '0,2,male,21.0,2,0,73.5,S,\n',
 '0,3,male,,0,0,8.05,S,\n',
 '0,2,male,32.5,1,0,30.0708,C,\n',
 '1,2,female,32.5,0,0,13.0,S,E\n',
 '0,1,male,54.0,0,1,77.2875,S,D\n',
 '1,3,male,12.0,1,0,11.2417,C,\n',
 '0,3,male,,0,0,7.75,Q,\n',
 '1,3,male,24.0,0,0,7.1417,S,\n',
 '1,3,female,,1,1,22.3583,C,F\n',
 '0,3,male,45.0,0,0,6.975,S,\n',
 '0,3,male,33.0,0,0,7.8958,C,\n',
 '0,3,male,20.0,0,0,7.05,S,\n',
 '0,3,female,47.0,1,0,14.5,S,\n',
 '1,2,female,29.0,1,0,26.0,S,\n',
 '0,2,male,25.0,0,0,13.0,S,\n',
 '0,2,male,23.0,0,0,15.0458,C,\n',
 '1,1,female,19.0,0,2,26.2833,S,D\n',
 '0,1,male,37.0,1,0,53.1,S,C\n',
 '0,3,male,16.0,0,0,9.2167,S,\n',
 '0,1,male,24.0,0,0,79.2,C,B\n',
 '0,3,female,,0,2,15.2458,C,\n',
 '1,3,female,22.0,0,0,7.75,S,\n',
 '1,3,female,24.0,1,0,15.85,S,\n',
 '0,3,male,19.0,0,0,6.75,Q,\n',
 '0,2,male,18.0,0,0,11.5,S,\n',
 '0,2,male,19.0,1,1,36.75,S,\n',
 '1,3,male,27.0,0,0,7.7958,S,\n',
 '0,3,female,9.0,2,2,34.375,S,\n',
 '0,2,male,36.5,0,2,26.0,S,F\n',
 '0,2,male,42.0,0,0,13.0,S,\n',
 '0,2,male,51.0,0,0,12.525,S,\n',
 '1,1,female,22.0,1,0,66.6,S,C\n',
 '0,3,male,55.5,0,0,8.05,S,\n',
 '0,3,male,40.5,0,2,14.5,S,\n',
 '0,3,male,,0,0,7.3125,S,\n',
 '0,1,male,51.0,0,1,61.3792,C,\n',
 '1,3,female,16.0,0,0,7.7333,Q,\n',
 '0,3,male,30.0,0,0,8.05,S,\n',
 '0,3,male,,0,0,8.6625,S,\n',
 '0,3,male,,8,2,69.55,S,\n',
 '0,3,male,44.0,0,1,16.1,S,\n',
 '1,2,female,40.0,0,0,15.75,S,\n',
 '0,3,male,26.0,0,0,7.775,S,\n',
 '0,3,male,17.0,0,0,8.6625,S,\n',
 '0,3,male,1.0,4,1,39.6875,S,\n',
 '1,3,male,9.0,0,2,20.525,S,\n',
 '1,1,female,,0,1,55.0,S,E\n',
 '0,3,female,45.0,1,4,27.9,S,\n',
 '0,1,male,,0,0,25.925,S,\n',
 '0,3,male,28.0,0,0,56.4958,S,\n',
 '0,1,male,61.0,0,0,33.5,S,B\n',
 '0,3,male,4.0,4,1,29.125,Q,\n',
 '1,3,female,1.0,1,1,11.1333,S,\n',
 '0,3,male,21.0,0,0,7.925,S,\n',
 '0,1,male,56.0,0,0,30.6958,C,A\n',
 '0,3,male,18.0,1,1,7.8542,S,\n',
 '0,3,male,,3,1,25.4667,S,\n',
 '0,1,female,50.0,0,0,28.7125,C,C\n',
 '0,2,male,30.0,0,0,13.0,S,\n',
 '0,3,male,36.0,0,0,0.0,S,\n',
 '0,3,female,,8,2,69.55,S,\n',
 '0,2,male,,0,0,15.05,C,\n',
 '0,3,male,9.0,4,2,31.3875,S,\n',
 '1,2,male,1.0,2,1,39.0,S,F\n',
 '1,3,female,4.0,0,2,22.025,S,\n',
 '0,1,male,,0,0,50.0,S,A\n',
 '1,3,female,,1,0,15.5,Q,\n',
 '1,1,male,45.0,0,0,26.55,S,\n',
 '0,3,male,40.0,1,1,15.5,Q,\n',
 '0,3,male,36.0,0,0,7.8958,S,\n',
 '1,2,female,32.0,0,0,13.0,S,\n',
 '0,2,male,19.0,0,0,13.0,S,\n',
 '1,3,female,19.0,1,0,7.8542,S,\n',
 '1,2,male,3.0,1,1,26.0,S,F\n',
 '1,1,female,44.0,0,0,27.7208,C,B\n',
 '1,1,female,58.0,0,0,146.5208,C,B\n',
 '0,3,male,,0,0,7.75,Q,\n',
 '0,3,male,42.0,0,1,8.4042,S,\n',
 '1,3,female,,0,0,7.75,Q,\n',
 '0,2,female,24.0,0,0,13.0,S,\n',
 '0,3,male,28.0,0,0,9.5,S,\n',
 '0,3,male,,8,2,69.55,S,\n',
 '0,3,male,34.0,0,0,6.4958,S,\n',
 '0,3,male,45.5,0,0,7.225,C,\n',
 '1,3,male,18.0,0,0,8.05,S,\n',
 '0,3,female,2.0,0,1,10.4625,S,G\n',
 '0,3,male,32.0,1,0,15.85,S,\n',
 '1,3,male,26.0,0,0,18.7875,C,\n',
 '1,3,female,16.0,0,0,7.75,Q,\n',
 '1,1,male,40.0,0,0,31.0,C,A\n',
 '0,3,male,24.0,0,0,7.05,S,\n',
 '1,2,female,35.0,0,0,21.0,S,\n',
 '0,3,male,22.0,0,0,7.25,S,\n',
 '0,2,male,30.0,0,0,13.0,S,\n',
 '0,3,male,,1,0,7.75,Q,\n',
 '1,1,female,31.0,1,0,113.275,C,D\n',
 '1,3,female,27.0,0,0,7.925,S,\n',
 '0,2,male,42.0,1,0,27.0,S,\n',
 '1,1,female,32.0,0,0,76.2917,C,D\n',
 '0,2,male,30.0,0,0,10.5,S,\n',
 '1,3,male,16.0,0,0,8.05,S,\n',
 '0,2,male,27.0,0,0,13.0,S,\n',
 '0,3,male,51.0,0,0,8.05,S,\n',
 '0,3,male,,0,0,7.8958,S,\n',
 '1,1,male,38.0,1,0,90.0,S,C\n',
 '0,3,male,22.0,0,0,9.35,S,\n',
 '1,2,male,19.0,0,0,10.5,S,\n',
 '0,3,male,20.5,0,0,7.25,S,\n',
 '0,2,male,18.0,0,0,13.0,S,\n',
 '0,3,female,,3,1,25.4667,S,\n',
 '1,1,female,35.0,1,0,83.475,S,C\n',
 '0,3,male,29.0,0,0,7.775,S,\n',
 '0,2,male,59.0,0,0,13.5,S,\n',
 '1,3,female,5.0,4,2,31.3875,S,\n',
 '0,2,male,24.0,0,0,10.5,S,\n',
 '0,3,female,,0,0,7.55,S,\n',
 '0,2,male,44.0,1,0,26.0,S,\n',
 '1,2,female,8.0,0,2,26.25,S,\n',
 '0,2,male,19.0,0,0,10.5,S,\n',
 '0,2,male,33.0,0,0,12.275,S,\n',
 '0,3,female,,1,0,14.4542,C,\n',
 '1,3,female,,1,0,15.5,Q,\n',
 '0,2,male,29.0,0,0,10.5,S,\n',
 '0,3,male,22.0,0,0,7.125,S,\n',
 '0,3,male,30.0,0,0,7.225,C,\n',
 '0,1,male,44.0,2,0,90.0,Q,C\n',
 '0,3,female,25.0,0,0,7.775,S,\n',
 '1,2,female,24.0,0,2,14.5,S,\n',
 '1,1,male,37.0,1,1,52.5542,S,D\n',
 '0,2,male,54.0,1,0,26.0,S,\n',
 '0,3,male,,0,0,7.25,S,\n',
 '0,3,female,29.0,1,1,10.4625,S,G\n',
 '0,1,male,62.0,0,0,26.55,S,C\n',
 '0,3,male,30.0,1,0,16.1,S,\n',
 '0,3,female,41.0,0,2,20.2125,S,\n',
 '1,3,female,29.0,0,2,15.2458,C,\n',
 '1,1,female,,0,0,79.2,C,\n',
 '1,1,female,30.0,0,0,86.5,S,B\n',
 '1,1,female,35.0,0,0,512.3292,C,\n',
 '1,2,female,50.0,0,1,26.0,S,\n',
 '0,3,male,,0,0,7.75,Q,\n',
 '1,3,male,3.0,4,2,31.3875,S,\n',
 '0,1,male,52.0,1,1,79.65,S,E\n',
 '0,1,male,40.0,0,0,0.0,S,B\n',
 '0,3,female,,0,0,7.75,Q,\n',
 '0,2,male,36.0,0,0,10.5,S,\n',
 '0,3,male,16.0,4,1,39.6875,S,\n',
 '1,3,male,25.0,1,0,7.775,S,\n',
 '1,1,female,58.0,0,1,153.4625,S,C\n',
 '1,1,female,35.0,0,0,135.6333,S,C\n',
 '0,1,male,,0,0,31.0,S,\n',
 '1,3,male,25.0,0,0,0.0,S,\n',
 '1,2,female,41.0,0,1,19.5,S,\n',
 '0,1,male,37.0,0,1,29.7,C,C\n',
 '1,3,female,,0,0,7.75,Q,\n',
 '1,1,female,63.0,1,0,77.9583,S,D\n',
 '0,3,female,45.0,0,0,7.75,S,\n',
 '0,2,male,,0,0,0.0,S,\n',
 '0,3,male,7.0,4,1,29.125,Q,\n',
 '1,3,female,35.0,1,1,20.25,S,\n',
 '0,3,male,65.0,0,0,7.75,Q,\n',
 '0,3,male,28.0,0,0,7.8542,S,\n',
 '0,3,male,16.0,0,0,9.5,S,\n',
 '1,3,male,19.0,0,0,8.05,S,\n',
 '0,1,male,,0,0,26.0,S,A\n',
 '0,3,male,33.0,0,0,8.6625,C,\n',
 '1,3,male,30.0,0,0,9.5,S,\n',
 '0,3,male,22.0,0,0,7.8958,S,\n',
 '1,2,male,42.0,0,0,13.0,S,\n',
 '1,3,female,22.0,0,0,7.75,Q,\n',
 '1,1,female,26.0,0,0,78.85,S,\n',
 '1,1,female,19.0,1,0,91.0792,C,B\n',
 '0,2,male,36.0,0,0,12.875,C,D\n',
 '0,3,female,24.0,0,0,8.85,S,\n',
 '0,3,male,24.0,0,0,7.8958,S,\n',
 '0,1,male,,0,0,27.7208,C,\n',
 '0,3,male,23.5,0,0,7.2292,C,\n',
 '0,1,female,2.0,1,2,151.55,S,C\n',
 '1,1,male,,0,0,30.5,S,C\n',
 '1,1,female,50.0,0,1,247.5208,C,B\n',
 '1,3,female,,0,0,7.75,Q,\n',
 '1,3,male,,2,0,23.25,Q,\n',
 '0,3,male,19.0,0,0,0.0,S,\n',
 '1,2,female,,0,0,12.35,Q,E\n',
 '0,3,male,,0,0,8.05,S,\n',
 '1,1,male,0.92,1,2,151.55,S,C\n',
 '1,1,female,,0,0,110.8833,C,\n',
 '1,1,female,17.0,1,0,108.9,C,C\n',
 '0,2,male,30.0,1,0,24.0,C,\n',
 '1,1,female,30.0,0,0,56.9292,C,E\n',
 '1,1,female,24.0,0,0,83.1583,C,C\n',
 '1,1,female,18.0,2,2,262.375,C,B\n',
 '0,2,female,26.0,1,1,26.0,S,\n',
 '0,3,male,28.0,0,0,7.8958,S,\n',
 '0,2,male,43.0,1,1,26.25,S,\n',
 '1,3,female,26.0,0,0,7.8542,S,\n',
 '1,2,female,24.0,1,0,26.0,S,\n',
 '0,2,male,54.0,0,0,14.0,S,\n',
 '1,1,female,31.0,0,2,164.8667,S,C\n',
 '1,1,female,40.0,1,1,134.5,C,E\n',
 '0,3,male,22.0,0,0,7.25,S,\n',
 '0,3,male,27.0,0,0,7.8958,S,\n',
 '1,2,female,30.0,0,0,12.35,Q,\n',
 '1,2,female,22.0,1,1,29.0,S,\n',
 '0,3,male,,8,2,69.55,S,\n',
 '1,1,female,36.0,0,0,135.6333,C,C\n',
 '0,3,male,61.0,0,0,6.2375,S,\n',
 '1,2,female,36.0,0,0,13.0,S,D\n',
 '1,3,female,31.0,1,1,20.525,S,\n',
 '1,1,female,16.0,0,1,57.9792,C,B\n',
 '1,3,female,,2,0,23.25,Q,\n',
 '0,1,male,45.5,0,0,28.5,S,C\n',
 '0,1,male,38.0,0,1,153.4625,S,C\n',
 '0,3,male,16.0,2,0,18.0,S,\n',
 '1,1,female,,1,0,133.65,S,\n',
 '0,3,male,,0,0,7.8958,S,\n',
 '0,1,male,29.0,1,0,66.6,S,C\n',
 '1,1,female,41.0,0,0,134.5,C,E\n',
 '1,3,male,45.0,0,0,8.05,S,\n',
 '0,1,male,45.0,0,0,35.5,S,\n',
 '1,2,male,2.0,1,1,26.0,S,F\n',
 '1,1,female,24.0,3,2,263.0,S,C\n',
 '0,2,male,28.0,0,0,13.0,S,\n',
 '0,2,male,25.0,0,0,13.0,S,\n',
 '0,2,male,36.0,0,0,13.0,S,\n',
 '1,2,female,24.0,0,0,13.0,S,F\n',
 '1,2,female,40.0,0,0,13.0,S,\n',
 '1,3,female,,1,0,16.1,S,\n',
 '1,3,male,3.0,1,1,15.9,S,\n',
 '0,3,male,42.0,0,0,8.6625,S,\n',
 '0,3,male,23.0,0,0,9.225,S,\n',
 '0,1,male,,0,0,35.0,S,C\n',
 '0,3,male,15.0,1,1,7.2292,C,\n',
 '0,3,male,25.0,1,0,17.8,S,\n',
 '0,3,male,,0,0,7.225,C,\n',
 '0,3,male,28.0,0,0,9.5,S,\n',
 '1,1,female,22.0,0,1,55.0,S,E\n',
 '0,2,female,38.0,0,0,13.0,S,\n',
 '1,3,female,,0,0,7.8792,Q,\n',
 '1,3,female,,0,0,7.8792,Q,\n',
 '0,3,male,40.0,1,4,27.9,S,\n',
 '0,2,male,29.0,1,0,27.7208,C,\n',
 '0,3,female,45.0,0,1,14.4542,C,\n',
 '0,3,male,35.0,0,0,7.05,S,\n',
 '0,3,male,,1,0,15.5,Q,\n',
 '0,3,male,30.0,0,0,7.25,S,\n',
 '1,1,female,60.0,1,0,75.25,C,D\n',
 '1,3,female,,0,0,7.2292,C,\n',
 '1,3,female,,0,0,7.75,Q,\n',
 '1,1,female,24.0,0,0,69.3,C,B\n',
 '1,1,male,25.0,1,0,55.4417,C,E\n',
 '0,3,male,18.0,1,0,6.4958,S,\n',
 '0,3,male,19.0,0,0,8.05,S,\n',
 '0,1,male,22.0,0,0,135.6333,C,\n',
 '0,3,female,3.0,3,1,21.075,S,\n',
 '1,1,female,,1,0,82.1708,C,\n',
 '1,3,female,22.0,0,0,7.25,S,\n',
 '0,1,male,27.0,0,2,211.5,C,C\n',
 '0,3,male,20.0,0,0,4.0125,C,\n',
 '0,3,male,19.0,0,0,7.775,S,\n',
 '1,1,female,42.0,0,0,227.525,C,\n',
 '1,3,female,1.0,0,2,15.7417,C,\n',
 '0,3,male,32.0,0,0,7.925,S,\n',
 '1,1,female,35.0,1,0,52.0,S,\n',
 '0,3,male,,0,0,7.8958,S,\n',
 '0,2,male,18.0,0,0,73.5,S,\n',
 '0,3,male,1.0,5,2,46.9,S,\n',
 '1,2,female,36.0,0,0,13.0,S,\n',
 '0,3,male,,0,0,7.7292,Q,\n',
 '1,2,female,17.0,0,0,12.0,C,\n',
 '1,1,male,36.0,1,2,120.0,S,B\n',
 '1,3,male,21.0,0,0,7.7958,S,\n',
 '0,3,male,28.0,2,0,7.925,S,\n',
 '1,1,female,23.0,1,0,113.275,C,D\n',
 '1,3,female,24.0,0,2,16.7,S,G\n',
 '0,3,male,22.0,0,0,7.7958,S,\n',
 '0,3,female,31.0,0,0,7.8542,S,\n',
 '0,2,male,46.0,0,0,26.0,S,\n',
 '0,2,male,23.0,0,0,10.5,S,\n',
 '1,2,female,28.0,0,0,12.65,S,\n',
 '1,3,male,39.0,0,0,7.925,S,\n',
 '0,3,male,26.0,0,0,8.05,S,\n',
 '0,3,female,21.0,1,0,9.825,S,\n',
 '0,3,male,28.0,1,0,15.85,S,\n',
 '0,3,female,20.0,0,0,8.6625,S,\n',
 '0,2,male,34.0,1,0,21.0,S,\n',
 '0,3,male,51.0,0,0,7.75,S,\n',
 '1,2,male,3.0,1,1,18.75,S,\n',
 '0,3,male,21.0,0,0,7.775,S,\n',
 '0,3,female,,3,1,25.4667,S,\n',
 '0,3,male,,0,0,7.8958,S,\n',
 '0,3,male,,0,0,6.8583,Q,\n',
 '1,1,female,33.0,1,0,90.0,Q,C\n',
 '0,2,male,,0,0,0.0,S,\n',
 '1,3,male,44.0,0,0,7.925,S,\n',
 '0,3,female,,0,0,8.05,S,\n',
 '1,2,female,34.0,1,1,32.5,S,\n',
 '1,2,female,18.0,0,2,13.0,S,\n',
 '0,2,male,30.0,0,0,13.0,S,\n',
 '0,3,female,10.0,0,2,24.15,S,\n',
 '0,3,male,,0,0,7.8958,C,\n',
 '0,3,male,21.0,0,0,7.7333,Q,\n',
 '0,3,male,29.0,0,0,7.875,S,\n',
 '0,3,female,28.0,1,1,14.4,S,\n',
 '0,3,male,18.0,1,1,20.2125,S,\n',
 '0,3,male,,0,0,7.25,S,\n',
 '1,2,female,28.0,1,0,26.0,S,\n',
 '1,2,female,19.0,0,0,26.0,S,\n',
 '0,3,male,,0,0,7.75,Q,\n',
 '1,3,male,32.0,0,0,8.05,S,E\n',
 '1,1,male,28.0,0,0,26.55,S,C\n',
 '1,3,female,,1,0,16.1,S,\n',
 '1,2,female,42.0,1,0,26.0,S,\n',
 '0,3,male,17.0,0,0,7.125,S,\n',
 '0,1,male,50.0,1,0,55.9,S,E\n',
 '1,1,female,14.0,1,2,120.0,S,B\n',
 '0,3,female,21.0,2,2,34.375,S,\n',
 '1,2,female,24.0,2,3,18.75,S,\n',
 '0,1,male,64.0,1,4,263.0,S,C\n',
 '0,2,male,31.0,0,0,10.5,S,\n',
 '1,2,female,45.0,1,1,26.25,S,\n',
 '0,3,male,20.0,0,0,9.5,S,\n',
 '0,3,male,25.0,1,0,7.775,S,\n',
 '1,2,female,28.0,0,0,13.0,S,\n',
 '1,3,male,,0,0,8.1125,S,\n',
 '1,1,male,4.0,0,2,81.8583,S,A\n',
 '1,2,female,13.0,0,1,19.5,S,\n',
 '1,1,male,34.0,0,0,26.55,S,\n',
 '1,3,female,5.0,2,1,19.2583,C,\n',
 '1,1,male,52.0,0,0,30.5,S,C\n',
 '0,2,male,36.0,1,2,27.75,S,\n',
 '0,3,male,,1,0,19.9667,S,\n',
 '0,1,male,30.0,0,0,27.75,C,C\n',
 '1,1,male,49.0,1,0,89.1042,C,C\n',
 '0,3,male,,0,0,8.05,S,\n',
 '1,3,male,29.0,0,0,7.8958,C,\n',
 '0,1,male,65.0,0,0,26.55,S,E\n',
 '1,1,female,,1,0,51.8625,S,D\n',
 '1,2,female,50.0,0,0,10.5,S,\n',
 '0,3,male,,0,0,7.75,Q,\n',
 '1,1,male,48.0,0,0,26.55,S,E\n',
 '0,3,male,34.0,0,0,8.05,S,\n',
 '0,1,male,47.0,0,0,38.5,S,E\n',
 '0,2,male,48.0,0,0,13.0,S,\n',
 '0,3,male,,0,0,8.05,S,\n',
 '0,3,male,38.0,0,0,7.05,S,\n',
 '0,2,male,,0,0,0.0,S,\n',
 '0,1,male,56.0,0,0,26.55,S,\n',
 '0,3,male,,0,0,7.725,Q,\n',
 '1,3,female,0.75,2,1,19.2583,C,\n',
 '0,3,male,,0,0,7.25,S,\n',
 '0,3,male,38.0,0,0,8.6625,S,\n',
 '1,2,female,33.0,1,2,27.75,S,\n',
 '1,2,female,23.0,0,0,13.7917,C,D\n',
 '0,3,female,22.0,0,0,9.8375,S,\n',
 '0,1,male,,0,0,52.0,S,A\n',
 '0,2,male,34.0,1,0,21.0,S,\n',
 '0,3,male,29.0,1,0,7.0458,S,\n',
 '0,3,male,22.0,0,0,7.5208,S,\n',
 '1,3,female,2.0,0,1,12.2875,S,\n',
 '0,3,male,9.0,5,2,46.9,S,\n',
 '0,2,male,,0,0,0.0,S,\n',
 '0,3,male,50.0,0,0,8.05,S,\n',
 '1,3,female,63.0,0,0,9.5875,S,\n',
 '1,1,male,25.0,1,0,91.0792,C,B\n',
 '0,3,female,,3,1,25.4667,S,\n',
 '1,1,female,35.0,1,0,90.0,S,C\n',
 '0,1,male,58.0,0,0,29.7,C,B\n',
 '0,3,male,30.0,0,0,8.05,S,\n',
 '1,3,male,9.0,1,1,15.9,S,\n',
 '0,3,male,,1,0,19.9667,S,\n',
 '0,3,male,21.0,0,0,7.25,S,\n',
 '0,1,male,55.0,0,0,30.5,S,C\n',
 '0,1,male,71.0,0,0,49.5042,C,\n',
 '0,3,male,21.0,0,0,8.05,S,\n',
 '0,3,male,,0,0,14.4583,C,\n',
 '1,1,female,54.0,1,0,78.2667,C,D\n',
 '0,3,male,,0,0,15.1,S,\n',
 '0,1,female,25.0,1,2,151.55,S,C\n',
 '0,3,male,24.0,0,0,7.7958,S,\n',
 '0,3,male,17.0,0,0,8.6625,S,\n',
 '0,3,female,21.0,0,0,7.75,Q,\n',
 '0,3,female,,0,0,7.6292,Q,\n',
 '0,3,female,37.0,0,0,9.5875,S,\n',
 '1,1,female,16.0,0,0,86.5,S,B\n',
 '0,1,male,18.0,1,0,108.9,C,C\n',
 '1,2,female,33.0,0,2,26.0,S,\n',
 '1,1,male,,0,0,26.55,S,\n',
 '0,3,male,28.0,0,0,22.525,S,\n',
 '1,3,male,26.0,0,0,56.4958,S,\n',
 '1,3,male,29.0,0,0,7.75,Q,\n',
 '0,3,male,,0,0,8.05,S,\n',
 '1,1,male,36.0,0,0,26.2875,S,E\n',
 '1,1,female,54.0,1,0,59.4,C,\n',
 '0,3,male,24.0,0,0,7.4958,S,\n',
 '0,1,male,47.0,0,0,34.0208,S,D\n',
 '1,2,female,34.0,0,0,10.5,S,F\n',
 '0,3,male,,0,0,24.15,Q,\n',
 '1,2,female,36.0,1,0,26.0,S,\n',
 '0,3,male,32.0,0,0,7.8958,S,\n',
 '1,1,female,30.0,0,0,93.5,S,B\n',
 '0,3,male,22.0,0,0,7.8958,S,\n',
 '0,3,male,,0,0,7.225,C,\n',
 '1,1,female,44.0,0,1,57.9792,C,B\n',
 '0,3,male,,0,0,7.2292,C,\n',
 '0,3,male,40.5,0,0,7.75,Q,\n',
 '1,2,female,50.0,0,0,10.5,S,\n',
 '0,1,male,,0,0,221.7792,S,C\n',
 '0,3,male,39.0,0,0,7.925,S,\n',
 '0,2,male,23.0,2,1,11.5,S,\n',
 '1,2,female,2.0,1,1,26.0,S,\n',
 '0,3,male,,0,0,7.2292,C,\n',
 '0,3,male,17.0,1,1,7.2292,C,\n',
 '1,3,female,,0,2,22.3583,C,\n',
 '0,3,female,30.0,0,0,8.6625,S,\n',
 '1,2,female,7.0,0,2,26.25,S,\n',
 '0,1,male,45.0,0,0,26.55,S,B\n',
 '1,1,female,30.0,0,0,106.425,C,\n',
 '0,3,male,,0,0,14.5,S,\n',
 '1,1,female,22.0,0,2,49.5,C,B\n',
 '1,1,female,36.0,0,2,71.0,S,B\n',
 '0,3,female,9.0,4,2,31.275,S,\n',
 '0,3,female,11.0,4,2,31.275,S,\n',
 '1,2,male,32.0,1,0,26.0,S,\n',
 '0,1,male,50.0,1,0,106.425,C,C\n',
 '0,1,male,64.0,0,0,26.0,S,\n',
 '1,2,female,19.0,1,0,26.0,S,\n',
 '1,2,male,,0,0,13.8625,C,\n',
 '0,3,male,33.0,1,1,20.525,S,\n',
 '1,2,male,8.0,1,1,36.75,S,\n',
 '1,1,male,17.0,0,2,110.8833,C,C\n',
 '0,2,male,27.0,0,0,26.0,S,\n',
 '0,3,male,,0,0,7.8292,Q,\n',
 '1,3,male,22.0,0,0,7.225,C,\n',
 '1,3,female,22.0,0,0,7.775,S,\n',
 '0,1,male,62.0,0,0,26.55,S,\n',
 '1,1,female,48.0,1,0,39.6,C,A\n',
 '0,1,male,,0,0,227.525,C,\n',
 '1,1,female,39.0,1,1,79.65,S,E\n',
 '1,3,female,36.0,1,0,17.4,S,\n',
 '0,3,male,,0,0,7.75,Q,\n',
 '0,3,male,40.0,0,0,7.8958,S,\n',
 '0,2,male,28.0,0,0,13.5,S,\n',
 '0,3,male,,0,0,8.05,S,\n',
 '0,3,female,,0,0,8.05,S,\n',
 '0,3,male,24.0,2,0,24.15,S,\n',
 '0,3,male,19.0,0,0,7.8958,S,\n',
 '0,3,female,29.0,0,4,21.075,S,\n',
 '0,3,male,,0,0,7.2292,C,\n',
 '1,3,male,32.0,0,0,7.8542,S,\n',
 '1,2,male,62.0,0,0,10.5,S,\n',
 '1,1,female,53.0,2,0,51.4792,S,C\n',
 '1,1,male,36.0,0,0,26.3875,S,E\n',
 '1,3,female,,0,0,7.75,Q,\n',
 '0,3,male,16.0,0,0,8.05,S,\n',
 '0,3,male,19.0,0,0,14.5,S,\n',
 '1,2,female,34.0,0,0,13.0,S,\n',
 '1,1,female,39.0,1,0,55.9,S,E\n',
 '0,3,female,,1,0,14.4583,C,\n',
 '1,3,male,32.0,0,0,7.925,S,\n',
 '1,2,female,25.0,1,1,30.0,S,\n',
 '1,1,female,39.0,1,1,110.8833,C,C\n',
 '0,2,male,54.0,0,0,26.0,S,\n',
 '0,1,male,36.0,0,0,40.125,C,A\n',
 '0,3,male,,0,0,8.7125,C,\n',
 '1,1,female,18.0,0,2,79.65,S,E\n',
 '0,2,male,47.0,0,0,15.0,S,\n',
 '1,1,male,60.0,1,1,79.2,C,B\n',
 '0,3,male,22.0,0,0,8.05,S,\n',
 '0,3,male,,0,0,8.05,S,\n',
 '0,3,male,35.0,0,0,7.125,S,\n',
 '1,1,female,52.0,1,0,78.2667,C,D\n',
 '0,3,male,47.0,0,0,7.25,S,\n',
 '0,3,female,,0,2,7.75,Q,\n',
 '0,2,male,37.0,1,0,26.0,S,\n',
 '0,3,male,36.0,1,1,24.15,S,\n',
 '1,2,female,,0,0,33.0,S,\n',
 '0,3,male,49.0,0,0,0.0,S,\n',
 '0,3,male,,0,0,7.225,C,\n',
 '1,1,male,49.0,1,0,56.9292,C,A\n',
 '1,2,female,24.0,2,1,27.0,S,\n',

In [3]:
len(text)

892

The pandas method:

In [5]:
import pandas as pd

In [6]:
pd.read_csv('titanic.csv')

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

index_col parameter

In [7]:
pd.read_csv('titanic.csv', index_col = 'pclass')

        survived     sex   age  sibsp  parch     fare embarked deck
pclass
3              0    male  22.0      1      0   7.2500        S  NaN
1              1  female  38.0      1      0  71.2833        C    C
3              1  female  26.0      0      0   7.9250        S  NaN
1              1  female  35.0      1      0  53.1000        S    C
3              0    male  35.0      0      0   8.0500        S  NaN
...          ...     ...   ...    ...    ...      ...      ...  ...
2              0    male  27.0      0      0  13.0000        S  NaN
1              1  female  19.0      0      0  30.0000        S    B
3              0  female   NaN      1      2  23.4500        S  NaN
1              1    male  26.0      0      0  30.0000        C    C
3              0    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 8 columns]

header parameter

In [16]:
pd.read_csv('titanic.csv', header = 0)  # define which row should serve as headero of the dataframe, it can be none as well

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

names parameter to change the column labels

In [17]:
pd.read_csv('titanic.csv', header = 0, names = ['alive', 'class', 'gender', 'age', 'sibsp', 'parch', 'price', 'emb', 'deck'])

     alive  class  gender   age  sibsp  parch    price emb deck
0        0      3    male  22.0      1      0   7.2500   S  NaN
1        1      1  female  38.0      1      0  71.2833   C    C
2        1      3  female  26.0      0      0   7.9250   S  NaN
3        1      1  female  35.0      1      0  53.1000   S    C
4        0      3    male  35.0      0      0   8.0500   S  NaN
..     ...    ...     ...   ...    ...    ...      ...  ..  ...
886      0      2    male  27.0      0      0  13.0000   S  NaN
887      1      1  female  19.0      0      0  30.0000   S    B
888      0      3  female   NaN      1      2  23.4500   S  NaN
889      1      1    male  26.0      0      0  30.0000   C    C
890      0      3    male  32.0      0      0   7.7500   Q  NaN

[891 rows x 9 columns]

usecols parameter to tell only which columns to import

In [23]:
titanic = pd.read_csv('titanic.csv', header = 0, index_col= 'pclass', usecols = ['survived', 'pclass', 'sex', 'age'])

In [24]:
titanic.head()

        survived     sex   age
pclass
3              0    male  22.0
1              1  female  38.0
3              1  female  26.0
1              1  female  35.0
3              0    male  35.0

changing column labels

In [25]:
titanic.columns = ['alive', 'gender', 'age']

In [27]:
titanic.index.name = 'class'

In [28]:
titanic.head()

       alive  gender   age
class
3          0    male  22.0
1          1  female  38.0
3          1  female  26.0
1          1  female  35.0
3          0    male  35.0